[Unit]
Description=ScreenInvader 2.0 Player + Webserver
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=screeninvader
Group=screeninvader
WorkingDirectory=/opt/screeninvader2

TTYPath=/dev/tty3
StandardInput=tty
StandardOutput=tty
StandardError=tty

ExecStartPre=/bin/sleep 3
ExecStartPre=-/usr/bin/pkill -9 -u screeninvader mpv
ExecStartPre=-/bin/rm -f /tmp/screeninvader2_mpv.sock

ExecStart=/opt/screeninvader2/.venv/bin/python server.py

Restart=always
RestartSec=2
KillMode=control-group
TimeoutStopSec=8
ExecStopPost=-/usr/bin/pkill -9 -u screeninvader mpv
ExecStopPost=-/bin/rm -f /tmp/screeninvader2_mpv.sock

AmbientCapabilities=CAP_SYS_TTY_CONFIG

[Install]
WantedBy=multi-user.target